*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
 }
 body{
    background-color: #495250;
    display: grid;
    height: 100vh;
    place-items: center;
    background-color:transparent;
    background-image: url();
 }
 .main{
    width: 400px;
    height: 450px;
    background-color:transparent;
    position: absolute;
    border: 2px solid black;
    border-radius: 20px; 
    
 }
 .main input[type='text'] {
    width: 88%;
    position: relative;
    height: 80px;
    top: 5px;
    text-align: right;
    padding: 6px 6px;
    outline: none;
    font-size: 40px;
    border: 2px solid black;
    display: flex;
    margin: auto;
    border-radius: 20px;
    color: black;
    background-color:transparent;
   
 }
 .btn input[type='button']{
    width:90px;
    padding: 2px;
    margin: 2px 0px;
    position: relative;
    left: 13px;
    top: 20px;
    height: 60px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s;
    background-color: #f0a709;
    border-radius: 20px;
    color: rgb(6, 2, 2);
    text-decoration: solid;
    background-color:transparent;
    border-radius: 30px;
   }
 .btn input[type='button']:hover{
    background-color: rgb(237, 9, 9);
    color: rgb(233, 212, 55);
 }